@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #0A4089;
  height: 80px;
  position: sticky;
  width: 100%;
  top: 0;
}

.header li, .header a, .header button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #F5F5F5;
  text-decoration: none;
}

.logo {
  font-family: "League Spartan", sans-serif;
  color: #FFF;
  cursor: pointer;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  padding: 0px 20px;
}

.header ul li a {
  transition: all 0.3s ease 0s;
}

.header ul li a:hover {
  color: #FFB208;
}

.header button {
  padding: 9px 25px;
  background-color: rgba(255, 178, 8, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.header button:hover {
  background-color: rgba(255, 178, 8, 0.8);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: #FFF;
  transition: all 0.5s ease;
}

.sidebar #icon {
  color: #707070;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.sidebar #title {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #707070;
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 1;
}

.sidebar .avatar {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  cursor: default;
}

.sidebar header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.sidebar .header-text .username {
  font-weight: 600;
}

.sidebar .header-text .faculty {
  margin-top: -2px;
}

.sidebar header {
  position: relative;
  cursor: pointer;
  margin-top: 20px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-55px);
  height: 25px;
  width: 25px;
  background: #0A4089;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #FFF;
  font-size: 20px;
}

.sidebar-list {
  margin-top: 60px;
}

.sidebar ul li a {
  height: 50px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.sidebar ul li a:hover {
  background: #0A4089;
}

.sidebar ul li a:hover #icon,
.sidebar ul li a:hover #title {
  color: #FFF;
}

.sidebar--close {
  width: 88px;
}

.sidebar--close #title,
.sidebar--close .text {
  opacity: 0;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.surveys {
  display: block;
  gap: 10px;
}

.survey {
  background-color: #f4f4f4;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.survey .publishTag {
  position: absolute;
  top: 10px;
  left: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.survey .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.details {
  width: 70%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  padding-top: 10px;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
